
*{
    box-sizing: border-box;

}

body {
    overflow-x: hidden;

}
header {
    z-index: 999;
    background-color: rgb(255 255 255);
    max-width: 1350px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    z-index: '999'; 
    background-color: '#fff';
}

header a{
    text-decoration: none;
    color: #FF5722 !important;
    font-family: "auto";
}

@media screen and (max-width: 760px) {
   header .search  {
        width: 100% !important;
    }
}